{
    "name": "com.jayqi.linkedin_notes_storage",
    "description": "Native Messaging host for LinkedIn Notes Chrome Extension to access local sqlite database.",
    "path": "{{ run_sh_path }}",
    "type": "stdio",
    "allowed_origins": [
        "chrome-extension://binmndjcdfnhjdajebaldoaokapkfbbi/"
    ]
}
